
a{
    text-decoration: none;
}
body{
    margin: auto;
    height: auto;
    max-width: 1280px;
    font-family: 'Roboto', sans-serif;

}
.page_content{
margin-top: 63px;
}
.page_title{
    margin-right: 1048px;
}
ul{
    list-style: none;
}
.title_link{
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
.accent_color{
    color: #4BCAFF;
}
.nav_list{
    background-color: #35444F;
    display: flex;
height: 72px;
top: 117px;
justify-content: center;
align-items: center;
}

.item_link{
color: #ffffff;
padding-left: 32px;
padding-right: 32px;
padding-top: 23px;
padding-bottom: 23px;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
border-left: 1px solid #FFFFFF;
border-right: 1px solid #FFFFFF;
}
.item_link:hover{
background-color: #222F3A;
}
.main_content{
    display: flex;
    flex-wrap: wrap;
}

.main_list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #000000;
    width: 344px;
height: 399px;
margin-top: 48px;
}
.main_item:hover{
background-color: #35444F;

}
.main_link{
    font-size: 27px;
line-height: 27px;
color: #495863;

}
.main_link:hover{
    margin-left: 20px;
    font-weight: bold;
    color: #000000; 
}
.img_box{
    width: 836px;
    height: 529px;
    border: 1px solid #000000;
    text-align: center;
margin-top: 48px; 

}
.img{
  padding-top: 74px;
  transition: 0.5s;
}
.img:hover{
    transform: scale(1.2);
    
    
}
.text_content{
    max-width: 836px;
    margin-left: 52px;
}
.text{
    font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
margin-top: 37px;
}

.footer{
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 54px;
}
.footer_list{
   display: flex;
}
.footer_item{
    margin-right: 25px;
}
.footer_link{
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer_link:hover{
text-decoration: underline;
color: blue;
}
.copy{
    font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;
margin-right: 40px;
}
