*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000;
}

a{
    text-decoration: none;
}



.navbar_item 
{
    list-style: none;
    text-align: center;


}
.nav_list{
    display: inline;
    margin: 36px;
    
}
.nav_link{
    color:  #FF0000;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    margin-top: 25.5px;
}

.img{
    width: 100%;
    height: auto;
}


.main_box{
    text-align: center;
    color: #373737;   
}



.content{
    max-width: 1245px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 67.5px;
    padding-right: 67.5px;
    
}

.text_titel{
    text-transform: uppercase;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    margin-top: 48px;
     
}
.text{
    letter-spacing: 2.4px;
    font-size: 16px;
    line-height: 26px;
    margin-top: 38px;  
}
.button_get{
    margin-top: 84px;
}
.button{
    background-color: #FF0000;
    padding: 18px 43px;
    border-radius: 4px;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    margin-top: 84px;
}
.footer{
    margin-left: 105px;
    margin-right: 105px;
    margin-top: 99px;
    margin-bottom: 29px;
}
.copy{
    letter-spacing: 2.4px;
    color: #373737;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
}
