body {
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  max-width: 1030px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
}
.page_header {
  display: flex;
  justify-content: space-between;
}
.logo_link {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 53px 140px;
  column-gap: 8px;
}
.logo_img {
  background-image: url(../img/logo.png);
  width: 53px;
  height: 47px;
}
.logo_title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
  color: #ffffff;
  text-transform: uppercase;
}
.logo_accent {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  padding-top: 4px;
}
.logo_link:hover .logo_img {
  background-image: url(../img/logo_hover.png);
}
.logo_link:hover .logo_title {
  color: #f26522;
}
.logo_link:hover .logo_accent {
  color: #f26522;
}
.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.email {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.email:hover {
  color: #f26522;
}
.telephone {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}
.telephone:hover {
  color: #f26522;
}
.page_content {
  padding-top: 22px;
}
.tours_list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 260px);
  justify-content: space-between;
  row-gap: 37px;
}
.tour_img {
  display: block;
  width: 300px;
  height: 220px;
  border: 5px solid;
  border-image-source: linear-gradient(to top right, #000, #fff, #000);
  border-image-slice: 1;
}
.tour_title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
.tour_item {
  position: relative;
}
.tour_info {
  position: absolute;
  bottom: 40px;
  left: 0px;
  width: 300px;
  height: 55px;
  background: #f26522;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.6s;
}
.tour_item:hover .tour_info {
  opacity: 1;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-8%);
  }
  65% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-4%);
  }
  95% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}
.tour_item:hover .tour_title {
  color: #f26522;
}
.tour_price {
  font-family: Roboto;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding: 0 0 9px 16px;
}
.tour_price::before {
  content: "from";
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  display: block;
  padding: 8px 0;
}
.tour_detail {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  padding: 0 14px 10px 0;
}
.tour_detail::after {
  content: url(../img/arrow.png);
  width: 5px;
  height: 10px;
  padding-left: 16px;
}
.page_footer {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #ffffff;
  padding: 49px 0 15px 0;
}
