*,
*::after *::before {
  box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    text-align: center;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
   display: flex;
   background-color: #313131;
   height: 70px;
   justify-content: space-between;
   align-items: center;
}

.logo_container{
    display: flex;
    align-items: center;

}
.logo_title{
    font-style: normal;
font-size: 22px;
line-height: 30px;
color: #ffffff;
}
.logo{
    margin: 21px 27px;
}
.nav_list{
display: flex;
list-style: none;
}
.nav_link{
    font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
    margin-left: 18px;
margin-right: 18px;
color: #ffffff;
text-transform: uppercase;
}

.news{
    background-image: url(../img/header-bg.jpeg);
width: 100%;
height: 369px;
background-position: center;
background-repeat: no-repeat;
background-color: rgba(0, 0, 0, 0.4);
background-blend-mode: darken;

}
.news_title{
    font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 37px;
color: #FFFFFF;
padding-top: 140px;
display: inline-block;
}
.news_list{
    list-style: none;
    display: flex;
    justify-content: center;
}

.news_link{
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
background-color:#89CA62;
color: #FFFFFF;
padding: 16px 19px;
margin-left: 10px;
margin-right: 10px;
border-radius: 5px;

}
.color_accent{
    font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
background-color:#14B9D5;
color: #FFFFFF;
padding: 16px 19px;
margin-left: 10px;
margin-right: 10px;
border-radius: 5px;
}
.search{
    width: 68px;
    height: 70px;
    background-color: #000000;
    border: none;
}
.posts{
    background: #f2f2f2;
  padding-bottom: 42px;

}
.posts_title{
    margin: 0;
    padding: 50px 0 50px;
    text-align: center;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18b4cf;
}

.post_list{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-height: 900px;

}
.post_text{
    margin: 0 auto;
    padding: 20px 0 23px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353a3d;
}

.post_link{
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    background-color: #FFFFFF;
}
.clients_title{
    padding-top: 106px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 32px;
line-height: 44px;
text-transform: uppercase;
}
.clients{
    background-image: url(../img/parallax-bg.jpeg);
    height: 588px;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: darken;
}
.section_line{
    width: 60px;
    height: 3px;
    border: 0px;
    background-color: #18b4cf;
    margin-top: 47px;
}
.clients_list{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
  margin-top: 106px;
}


.top_rated_title{
    display: inline-block;
    color: #18B4CF;
    font-size: 27px;
line-height: 37px;
padding-top: 50px;
padding-bottom: 50px;
}
.top_rated_block {
 
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .hot_news {
    width: 1168px;
    margin: 0 auto 75px auto;
  }
  .section_title{
    color: #18B4CF;
padding-top: 50px;
padding-bottom: 50px;
text-transform: uppercase;
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 37px;
  }
  .hot_news_block {
    max-width: 1168px;
    display: grid;
    justify-content: center;
    column-gap: 35px;
    row-gap: 42px;
    grid-template-areas:
      "prophecy prophecy prophecy nebula"
      "pyramid pyramid meadows meadows"
      "wanderlust wanderlust twin twin"
      "prism kings kings kings";
  }
  .hot_news_item {
    background: #f9f7f7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  }
  .hot_news_item:first-child {
    grid-area: prophecy;
    display: flex;
  }
  .hot_news_item:nth-child(2) {
    grid-area: nebula;
    text-align: center;
  }
  .hot_news_item:nth-child(3) {
    grid-area: pyramid;
    margin-right: 12.5px;
  }
  .hot_news_item:nth-child(4) {
    grid-area: meadows;
    margin-left: 12.5px;
  }
  .hot_news_item:nth-child(5) {
    grid-area: wanderlust;
    margin-right: 12.5px;
  }
  .hot_news_item:nth-child(6) {
    grid-area: twin;
    margin-left: 12.5px;
  }
  .hot_news_item:nth-child(7) {
    grid-area: prism;
    text-align: center;
  }
  .hot_news_item:nth-child(8) {
    grid-area: kings;
    display: flex;
  }
  .horiz_news {
    padding: 29px 20px 0 4px;
    text-align: right;
  }
  .vertical_news {
    padding: 0 20px 0 4px;
    text-align: right;
  }
  .hot_news_title {
    margin: 12px 0 0 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #353a3d;
  }
  .hot_news_text {
    margin: 15px 0 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5b6469;
  }
  .footer {
    background: #000;
  }
  .footer_container {
    width: 1168px;
    margin: auto;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
  }
  .copyright {
    padding: 30px 0;
    justify-self: left;
    align-self: center;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    color: #fff;
  }
  .footer_logo {
    justify-self: right;
    align-self: center;
  }