html {
  overflow-y: hidden;
}
body {
  background: rgb(19, 16, 16);
}
.page_section {
  perspective: 300px;
}
.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transform: scale3d(2, 1, 0.2) rotateX(40deg);
  animation-name: text_appearance;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.section_text,
.section_title {
  font-weight: bold;
  font-size: 24px;
  padding-top: 15px;
  color: #fde910;
  text-align: justify;
}
.section_title {
  text-align: center;
  text-transform: uppercase;
}
@keyframes text_appearance {
  0% {
    top: 650px;
    transform: scale3d(2, 1, 0.2) rotateX(40deg);
  }
  50% {
    top: 300px;
    transform: scale3d(1.5, 1, 0.5) rotateX(40deg);
  }
  100% {
    top: 0px;
    transform: scale3d(1.2, 1, 0.5) rotateX(40deg);
  }
}
